.card-details {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  padding: 1.5rem;
}

@media (min-width: 32rem) {
  .card-details {
    padding-inline: 5rem;
  }
}

@media (min-width: 40rem) {
  .card-details {
    padding-inline: 10rem;
  }
}

@media (min-width: 43rem) {
  .card-details {
    padding-inline: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60rem) {
  .card-details {
    grid-template-columns: 1fr 1fr;
  }
}
